@tailwind base;
@tailwind components;
@tailwind utilities;

body { background: #f8fafc; color: #0f172a; }
.input-field { @apply w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-sgt-blue outline-none; }
